body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  background-color: #141414;
}
/* 헤더 스타일 */
header {
  background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%, transparent);
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .logo {
  font-size: 24px;
  color: #e5e5e5;
  /* margin-right: auto; */
  text-decoration: none;
  width: 100px;
  height: auto;
}
header .logo img {
  width: 100%;
  height: auto;
  /* background-color: #ff2626cc; */
}
header nav {
  display: flex;
  gap: 15px;
}
header nav a {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.8;
  transition: opacity 0.3s;
  padding-left: 30px;
}
header nav a:hover {
  opacity: 1;
}

/* 메인 히어로 이미지 스타일 */
.hero-image {
  width: 100%;
  height: 60vh; /* 화면 높이의 60%를 차지 */
  /* object-fit: cover; */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  position: relative;
}

/* 히어로 이미지에 오버레이 추가 */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* 어두운 오버레이 */
}

.post-by-group {
  /* margin: 0 8vw; */
}
/* 캐러셀 컨테이너 */
.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 3vw 0;
  padding: 0 4%;
  /* max-width: 600px; */
}
.row-header-title {
  color: #e5e5e5;
  margin: 0;
  font-weight: 500;
  /* font-size: 2vw; */
  /* vertical-align: bottom; */
  /* line-height: 1.25vw; */
}
/* 캐러셀 트랙 (카드들을 감싸는 영역) */
.carousel-track {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease;
}

/* 캐러셀 아이템 (각 카드) */
.carousel-item {
  min-width: 320px;
  height: 180px;
  background-color: #333;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

/* 왼쪽, 오른쪽 버튼 */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.post-item-image {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
}
