<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=5, user-scalable=5" name="viewport">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="google-site-verification" content="93TE4voJgl9wXWf0k087lUFu5V-2j53L58wT_T_s6MM" />
  <meta name="description" content="당신과 나의 OTT, 웹진 [비옽] 입니다.">
  <meta property="og:title" content="{{ .Params.Title }}" />
  <!-- <meta property="og:description" content="" /> -->
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ or .Params.thumbnail "images/favicon.ico" }}" />

  <title>
    {{ block "title" . }}
      {{ .Site.Title }}
      {{ with .Params.Title }}
      | {{ . }}
      {{ end }}
    {{ end }}
  </title>

  {{ $opts := dict "transpiler" "dartsass" "targetPath" "css/index.css" }}
  {{ with resources.Get "sass/index.scss" | toCSS $opts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  {{/*
  <link type="text/css" rel="stylesheet" href="{{"css/index.css" | relURL}}">*/}}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E0H5MGHEKM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E0H5MGHEKM');
</script>

<body>
  <header>
    <a href="{{ .Site.BaseURL }}" class="logo">
      <img src="{{"images/beott-logo-red.png" | relURL}}" alt="Beott">
    </a>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact-us">Contact Us</a>
    </nav>
  </header>

  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>
</body>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper('.main-swiper', {
        grid: {
          rows: 1,
        },
        // loop: true,
        centeredSlides: false,
        grabCursor: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          // when window width is >= 320px
          320: {
            slidesPerView: 2,
            spaceBetween: 5,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 10,
          },
          1024: {
            slidesPerView: 4,
            spaceBetween: 15,
          },
          1500: {
            slidesPerView: 5,
            spaceBetween: 15,
          },
        },
      });
    </script>

</html>